# Dependencies and packages
/vendor/
/node_modules/
/docs/vendor/

# Lock files and cache
*.lock
composer.lock
package-lock.json
*.cache
yarn-error.log
npm-debug.log
.phpunit.result.cache
.php-cs-fixer.cache

# Log files
*.log

# Build directories
/build/
/build
build/

# Laravel specific
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
.env

# Local configurations
Homestead.yaml
Homestead.json
/.vagrant

# Git specific
.git-blame-ignore-revs
.git-rewrite/
.git-rewrite

# Temporary and system files
*.tmp
*.swp
*.swo
*.stackdump
*.exe
*:Zone.Identifier
.DS_Store
*.old
*.old1
*.backup
*.bak

# Documentation and cache
docs/phpstan/
docs/cache/
cache/
